.layout-container {
  display: flex;
  min-height: 100vh !important;
}

.menu-toggle {
  display: none;
  position: fixed;
  top: 30px;
  left: 10px;
  z-index: 1001;
  background: transparent;
  border: none;
  cursor: pointer;
  color: #54ADA2;
}

.main-content {
  flex-grow: 1;
  /* padding: 20px 0px; */
  margin-left: 250px; /* sidebar width */
}

@media (max-width: 768px) {
  .menu-toggle {
    display: block;
  }

  .main-content {
    margin-left: 0;
    padding-top: 60px;
  }
}
